/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-toggle-block {
	border: 1px dotted #f00;
}

.custom-class {
	padding: 5rem 2rem;
	background-color: beige;
	color: black
}